include README
include COPYING
include COPYING.LESSER
include pylintrc
include bin/cubicweb-*
include man/cubicweb-ctl.1

include doc/*.rst
recursive-include doc/book *
recursive-include doc/tools *.py
recursive-include doc/tutorials *.rst *.py

recursive-include misc *.py *.png *.display

include web/views/*.pt
recursive-include web/data external_resources *.js *.css *.py *.png *.gif *.ico *.ttf *.svg *.woff *.eot
recursive-include web/wdoc *.rst *.png *.xml ChangeLog*
recursive-include devtools/data *.js *.css *.sh

recursive-include i18n *.pot *.po
recursive-include schemas *.py *.sql

recursive-include test/data bootstrap_cubes *.py *.sql
recursive-include entities/test/data bootstrap_cubes *.py
recursive-include sobjects/test/data bootstrap_cubes *.py
recursive-include hooks/test/data bootstrap_cubes *.py
recursive-include server/test/data bootstrap_cubes *.py source* *.conf.in *.ldif
recursive-include devtools/test/data bootstrap_cubes *.py *.txt *.js
recursive-include web/test/data bootstrap_cubes pouet.css *.py

recursive-include web/test/jstests *.js *.html *.css *.json
recursive-include web/test/windmill *.py

recursive-include skeleton *.py *.css *.js *.po compat *.in *.tmpl

prune doc/book/en/.static
prune doc/book/fr/.static
prune doc/html/_sources/
prune misc/cwfs
prune goa
prune doc/book/en/devweb/js_api
global-exclude *.pyc
