include *.py
include ChangeLog

recursive-include views *.py
recursive-include entities *.py
recursive-include sobjects *.py
recursive-include schema Include *.py *.sql.postgres 
recursive-include data external_resources *.gif *.png *.css *.ico *.js
recursive-include i18n *.pot *.po
recursive-include migration *.sql *.py depends.map
