# -*- coding: utf-8 -*-
###############################################################################
#
# Put here information about external resources / styles used by your cube,
# or to overides existing UI properties.
#
# Existing properties are available through the `sheet` dictionary available
# in the global namespace. You also have access to a `data` function which
# will return proper url for resources in the 'data' directory.
#
# /!\ this file should not be imported /!\
###############################################################################

# CSS stylesheets to include in HTML headers
# uncomment the line below to use template specific stylesheet
# STYLESHEETS = sheet['STYLESHEETS'] + [data('cubes.%(cubename)s.css')]
