[main]

cubicweb.session.secret = %(secret_1)s
cubicweb.auth.authtkt.session.secret = %(secret_2)s
cubicweb.auth.authtkt.persistent.secret = %(secret_3)s
cubicweb.auth.authtkt.session.secure = no
cubicweb.auth.authtkt.persistent.secure = no
