include *.py
include */*.py
recursive-include cubicweb_%(cubename)s *.py
recursive-include cubicweb_%(cubename)s/data *.gif *.png *.ico *.css *.js
recursive-include cubicweb_%(cubename)s/i18n *.po
recursive-include cubicweb_%(cubename)s/wdoc *
recursive-include test/data bootstrap_cubes *.py
include *.ini
prune debian
prune cubicweb-%(cubename)s.spec
