[tox]
envlist = py27,py34,flake8

[testenv]
sitepackages = true
deps =
  pytest
commands =
  {envpython} -m pytest {posargs:test}

[testenv:flake8]
skip_install = true
whitelist_externals =
  flake8
deps =
  flake8
commands = flake8

[flake8]
exclude = cubicweb_%(cubename)s/migration/*,test/data/*,.tox/*
