This package was debianized by Logilab <contact@logilab.fr>

Upstream Author: 

  Logilab <contact@logilab.fr>

Copyright:

Copyright (c) %(year)s LOGILAB S.A. (Paris, FRANCE).
http://www.logilab.fr/ -- mailto:contact@logilab.fr

Logilab Closed source License. This code is *NOT* open-source. Usage of this
code is subject to a licence agreement. If you want to use it, you should
contact logilab's sales service at commercial@logilab.fr .
