Mako==1.0.0
MarkupSafe==0.23
PasteDeploy==1.5.2
Pygments==1.6
Twisted==14.0.0
WebOb==1.4
Yapps==2.2.0
argparse==1.2.1
cubicweb==3.19.3
cubicweb-blog==1.10.1
logilab-common==0.62.0
logilab-constraint==0.5.0
logilab-database==1.12.2
logilab-mtconverter==0.8.2
lxml==3.3.5
passlib==1.6.2
psycopg2==2.5.3
pyramid==1.5.1
pyramid-debugtoolbar==2.1
pyramid-mako==1.0.2
repoze.lru==0.6
rql==0.33.0
translationstring==1.1
venusian==1.0
waitress==0.8.9
wsgiref==0.1.2
yams==0.39.1
zope.deprecation==4.1.1
zope.interface==4.1.1
..
