Source: cubicweb
Section: web
Priority: optional
Maintainer: Logilab S.A. <contact@logilab.fr>
Uploaders: Sylvain Thenault <sylvain.thenault@logilab.fr>,
           Adrien Di Mascio <Adrien.DiMascio@logilab.fr>,
           Nicolas Chauvat <nicolas.chauvat@logilab.fr>
Build-Depends:
 debhelper (>= 7),
 python (>= 2.6),
 python-six (>= 1.4.0),
 python-sphinx,
 python-logilab-common (>= 1.2.2),
 python-unittest2 (>= 0.7.0),
 python-logilab-mtconverter,
 python-markdown,
 python-tz,
 python-rql (>= 0.34.0),
 python-yams (>= 0.44.0),
 python-lxml,
Standards-Version: 3.9.1
Homepage: https://www.cubicweb.org
X-Python-Version: >= 2.6

Package: cubicweb
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 cubicweb-server (= ${source:Version}),
 cubicweb-twisted (= ${source:Version})
Recommends:
 postgresql
 | mysql
 | sqlite3
Description: the complete CubicWeb framework
 CubicWeb is a semantic web application framework.
 .
 This metapackage will install all the components you need to run cubicweb on a
 single machine. You can also deploy cubicweb by running the different process
 on different computers, in which case you need to install the corresponding
 packages on the different hosts.

Package: cubicweb-server
Architecture: all
Conflicts:
 cubicweb-multisources
Replaces: cubicweb-multisources
Provides: cubicweb-multisources
Depends:
 ${misc:Depends},
 ${python:Depends},
 cubicweb-common (= ${source:Version}),
 cubicweb-ctl (= ${source:Version}),
 python-logilab-database (>= 1.15.0),
 cubicweb-postgresql-support
 | cubicweb-mysql-support
 | python-pysqlite2,
 python-passlib,
 python-tz,
Recommends:
 cubicweb-documentation (= ${source:Version}),
Suggests:
 python-zmq,
 python-cwclientlib (>= 0.4.0),
Description: server part of the CubicWeb framework
 CubicWeb is a semantic web application framework.
 .
 This package provides the repository server part of the system.
 .
 This package provides the repository server part of the library and
 necessary shared data files such as the schema library.

Package: cubicweb-postgresql-support
Architecture: all
# postgresql-client packages for backup/restore of non local database
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-psycopg2,
 postgresql-client
Description: postgres support for the CubicWeb framework
 CubicWeb is a semantic web application framework.
 .
 This virtual package provides dependencies to use postgres for the
 cubicweb repository.

Package: cubicweb-mysql-support
Architecture: all
# mysql-client packages for backup/restore of non local database
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-mysqldb,
 mysql-client
Description: mysql support for the CubicWeb framework
 CubicWeb is a semantic web application framework.
 .
 This virtual package provides dependencies to use mysql for the
 cubicweb repository.


Package: cubicweb-twisted
Architecture: all
Provides: cubicweb-web-frontend
Depends:
 ${misc:Depends},
 ${python:Depends},
 cubicweb-web (= ${source:Version}),
 cubicweb-ctl (= ${source:Version}),
 python-twisted-web (<< 16.0.0),
Recommends:
 cubicweb-documentation (= ${source:Version})
Description: twisted-based web interface for the CubicWeb framework
 CubicWeb is a semantic web application framework.
 .
 This package provides a twisted based HTTP server to serve
 the adaptative web interface (see cubicweb-web package).
 .
 This package provides only the twisted server part of the library.


Package: cubicweb-web
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 cubicweb-common (= ${source:Version}),
Recommends:
 python-docutils (>= 0.6),
 python-vobject,
 fckeditor,
 python-fyzz,
 python-imaging,
 python-rdflib,
 python-werkzeug,
Breaks:
 cubicweb-inlinedit (<< 1.1.1),
 cubicweb-bootstrap (<< 0.6.6),
 cubicweb-folder (<< 1.10.0),
Description: web interface library for the CubicWeb framework
 CubicWeb is a semantic web application framework.
 .
 This package provides an adaptative web interface to the CubicWeb server.
 It also ships a WSGI interface for CubicWeb instances.
 Install the cubicweb-twisted package to serve this interface via HTTP.
 .
 This package provides the web interface part of the library and
 necessary shared data files such as defaut views, images...


Package: cubicweb-common
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 graphviz,
 gettext,
 python-six (>= 1.4.0),
 python-logilab-mtconverter (>= 0.8.0),
 python-logilab-common (>= 1.2.0),
 python-markdown,
 python-yams (>= 0.43.0),
 python-rql (>= 0.34.0),
 python-lxml
Recommends:
 python-simpletal (>= 4.0),
 python-crypto
Conflicts: cubicweb-core
Replaces: cubicweb-core
Breaks:
 cubicweb-comment (<< 1.9.1),
 cubicweb-person (<< 1.8.0),
 cubicweb-geocoding (<< 0.2.0),
 cubicweb-invoice (<< 0.6.1),
 cubicweb-mercurial-server (<< 0.4.2),
 cubicweb-forgotpwd (<< 0.4.3),
 cubicweb-registration (<< 0.4.3),
 cubicweb-vcsfile (<< 1.15.0),
 cubicweb-bootstrap (<< 0.6),
Description: common library for the CubicWeb framework
 CubicWeb is a semantic web application framework.
 .
 This package provides the common parts of the library used by both server
 code and web application code.


Package: cubicweb-ctl
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 cubicweb-common (= ${source:Version})
Description: tool to manage the CubicWeb framework
 CubicWeb is a semantic web application framework.
 .
 This package provides a control script to manage (create, upgrade, start,
 stop, etc) CubicWeb applications. It also include the init.d script
 to automatically start and stop CubicWeb applications on boot or shutdown.


Package: cubicweb-dev
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 cubicweb-server (= ${source:Version}),
 cubicweb-web (= ${source:Version}),
 cubicweb-twisted (= ${source:Version}),
 python-pysqlite2
Suggests:
 w3c-dtd-xhtml,
 xvfb
Description: tests suite and development tools for the CubicWeb framework
 CubicWeb is a semantic web application framework.
 .
 This package provides the CubicWeb tests suite and some development tools
 helping in the creation of application.


Package: cubicweb-documentation
Architecture: all
Depends:
 ${misc:Depends},
Recommends:
 doc-base
Description: documentation for the CubicWeb framework
 CubicWeb is a semantic web application framework.
 .
 This package provides the system's documentation.
