/* tables */
/*table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
} */

table.listing tr .headerSortUp {
  background-image: url(asc.gif);
}
table.listing tr .headerSortDown {
  background-image: url(desc.gif);
}
table.listing tr .headerSortDown, table.listing tr .headerSortUp {
   background-color: #DDD;
   background-repeat: no-repeat;
   background-position: center right;
}

