/* styles for the login popup and login form
 *
 *  :organization: Logilab
 *  :copyright: 2003-2008 LOGILAB S.A. (Paris, FRANCE), all rights reserved.
 *  :contact: http://www.logilab.fr/ -- mailto:contact@logilab.fr
 */

div#popupLoginBox {
  position: absolute;
  z-index: 400;
  right: 0px;
  width: 23em;
  padding: 0px 1px 1px;
  font-weight: bold;
  background: #E4EAD8; 
}

div#popupLoginBox div#loginContent {
  background: #e6e4ce;
  padding: 5px 3px 4px;
}

div#loginBox { 
  position : absolute;
  top: 15%;
  left : 50%;
  margin-left: -11em;
  width: 24em;
  background: #fff;
  border: 2px solid #cfceb7;
  padding-bottom: 0.5em;
  text-align: center;
}

div#loginBox h1 { 
  color: #FF7700;
  font-size: 140%;
}

div#loginTitle { 
  color: #fff;
  font-weight: bold;
  font-size: 140%;
  text-align: center;
  padding: 3px 0px;
  background: #ff7700 url("banner.png") left top repeat-x;
}

div#loginBox div#loginContent form { 
  padding-top: 1em;
  width: 90%; 
  margin: auto;  
}

#popupLoginBox table td { 
  padding: 0px 3px; 
  white-space: nowrap;
}

#loginContent table { 
  padding: 0px 0.5em;
  margin: auto;
}

#loginBox table td { 
  padding: 0px 3px 0.6em; 
  white-space: nowrap;
}

#loginBox .loginButton { 
  margin-top: 0.6em;
 }

#loginContent input.data { 
  width:12em;
}

input.loginButton {
  border: 1px solid #edecd2;
  border-color:#edecd2 #cfceb7 #cfceb7  #edecd2;
  margin: 2px 0px 0px;
  background: #f0eff0 url("gradient-grey-up.png") left top repeat-x; 
}
