/* styles for preferences form (views/management.py)
 *
 *  :organization: Logilab
 *  :copyright: 2003-2008 LOGILAB S.A. (Paris, FRANCE), all rights reserved.
 *  :contact: http://www.logilab.fr/ -- mailto:contact@logilab.fr
 */


table.preferences td{ 
 padding: 0 0.5em 1em;
 }

fieldset.preferences{  
 border : 1px solid #CFCEB7;
 margin:1em 0;
 padding:0 1em 1em;
}

div.preffield {
 margin-bottom: 0.8em ;
}

/*
div.preffield label{ 
 font-size:110%
 }
*/

div.prefinput{ 
 margin:.3em 0;
}

div.componentLink{ 
 margin-top:0.3em;
 }

a.componentTitle{
 font-weight:bold;
 color: #000;
 }

a.componentTitle:visited{
 color: #000;
}



h2.propertiesform a{
 display:block;
 margin: 10px 0px 6px 0px;
 font-weight: bold;
 color: #222211;
 padding: 0.2em 0.2em 0.2em 16px;
 background:#eeedd9 url("puce_down.png") 3px center no-repeat;
 font-size:76%;
}

h2.propertiesform a:hover{
 color:#000;
 background-color:#cfceb7;
 text-decoration:none;
}

div.prefinput select.changed,
div.prefinput input.changed{ 
 background:#eeedd9;
 border: 1px solid #eeedd9;
}

div.prefinput select,
div.prefinput input{ 
 background:#fff;
 border: 1px solid #CFCEB7;
}

.prefinput input.error {
 background:transparent url(error.png) no-repeat scroll 100% 50% !important;
}


div.formsg{ 
 font-weight:bold;
 margin:0.5em 0px;
 }


div.formsg .critical{ 
 color:red;
 padding-left:20px;
 background:#fff url(critical.png) no-repeat;
 }

div.formsg .message{ 
 color : green;
}

.helper{
  font-size: 96%;
  color: #555544;
  padding:0; 
}

div.prefinput .helper:hover {
  color: #000;
  cursor: default;
}

.error{ 
 color:red;
 padding-right:1em;
 }

div.openlink{ 
 display:inline;
 }