/* styles for preferences form (views/management.py)
 *
 *  :organization: Logilab
 *  :copyright: 2003-2008 LOGILAB S.A. (Paris, FRANCE), all rights reserved.
 *  :contact: http://www.logilab.fr/ -- mailto:contact@logilab.fr
 */


.preferences .validateButton{
 margin-top:0px;
 }

fieldset.preferences{
 border : 1px solid #CFCEB7;
 margin:7px 1em 0;
 padding:2px 6px 6px;
}

div.component {
 margin-left: 1em;
}

div.componentLink{
 margin-top:0.3em;
 }

a.componentTitle{
 font-weight:bold;
 color: #000/*#0083AB;*/
 }

a.componentTitle:visited{
 color: #000;
}

h2.propertiesform a{
 display:block;
 margin: 10px 0px 6px 0px;
 font-weight: bold;
 color: #000;
 padding: 0.2em 0.2em 0.2em 16px;
 background:#eeedd9 url("puce_down.png") 3px center no-repeat;
 font-size:89%;
}

h2.propertiesform a:hover{
 background-color:#cfceb7;
}

h2.propertiesform a:hover,
h2.propertiesform a:visited{
 text-decoration:none;
 color: #000;
}

div.preffield {
 margin-bottom: 5px;
 padding:2px 5px;
 background:#eeedd9;
}

div.prefinput{
 margin:.3em;
}


div.prefinput select.changed,
div.prefinput input.changed{
 border: 1px solid #000;
 font-weight:bold;

}

div.prefinput select,
div.prefinput input{
 background:#fff;
 border: 1px solid #CFCEB7;
}

.prefinput input.error {
 /* background:#fff url(error.png) no-repeat scroll 100% 50% !important; */
 border:1px solid red !important;
 color:red;
 padding-right:1em;
}


div.formsg{
 font-weight:bold;
 margin:0.5em 0px;
}


div.critical{
 color:red;
 padding-left:20px;
 background:#fff url(critical.png) no-repeat;
 }

div.formsg .msg{
 color : green;
}

.helper{
  font-size: 96%;
  color: #555544;
  padding:0;
}

div.prefinput .helper:hover {
  color: #000;
  cursor: default;
}

div.openlink{
 display:inline;
 }
