/*
 *  :organization: Logilab
 *  :copyright: 2003-2010 LOGILAB S.A. (Paris, FRANCE), all rights reserved.
 *  :contact: http://www.logilab.fr/ -- mailto:contact@logilab.fr
 */

/******************************************************************************/
/* progressbar                                                                */
/******************************************************************************/

.done { background:red }

.inprogress { background:green }

.overpassed { background: yellow}


canvas.progressbar {
  border:1px solid black;
}

.progressbarback {
  border: 1px solid #000000;
  background: transparent;
  height: 10px;
  width: 100px;
}

/******************************************************************************/
/* progress table                                                             */
/******************************************************************************/

table.progress {
 /* The default table view */
  margin: 10px 0px 1em;
  width: 100%;
  font-size: 0.9167em;
}

table.progress th {
  white-space: nowrap;
  font-weight: bold;
  background: %(listingHeaderBgColor)s;
  padding: 2px 4px;
  font-size:8pt;
}

table.progress th,
table.progress td {
  border: 1px solid %(listingBorderColor)s;
}

table.progress td {
  text-align: right;
  padding: 2px 3px;
}

table.progress th.tdleft,
table.progress td.tdleft {
  text-align: left;
  padding: 2px 3px 2px 5px;
}

table.progress tr.highlighted {
  background-color: %(listingHihligthedBgColor)s;
}

table.progress tr.highlighted .progressbarback {
  border: 1px solid %(listingHihligthedBgColor)s;
}

table.progress .progressbarback {
  border: 1px solid #777;
}

.progress_data {
  padding-right: 3px;
}