# -*- coding: utf-8 -*-
# copyright %(year)s %(author)s, all rights reserved.
# contact %(author-web-site)s -- mailto:%(author-email)s
#
%(long-license)s
"""%(distname)s postcreate script, executed at instance creation time or when
the cube is added to an existing instance.

You could setup site properties or a workflow here for example.
"""

# Example of site property change
#set_property('ui.site-title', "<sitename>")

