"""%(distname)s precreate script, executed at instance creation time or when
the cube is added to an existing instance, before the schema is serialized.

This is typically to create groups referenced by the cube'schema.

:organization: %(author)s
:copyright: %(year)s %(author)s
:contact: %(author-web-site)s -- mailto:%(author-email)s
:license: %(long-license)s
"""
