Source: %(distname)s
Section: web
Priority: optional
Maintainer: %(author)s <%(author-email)s>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python-all,
 python-setuptools,
 python-pytest,
 python-cubicweb,
 python3-all,
 python3-setuptools,
 python3-pytest,
 python3-cubicweb,
Standards-Version: 4.3.0
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: python-%(distname)s
Architecture: all
Depends:
 ${python:Depends},
 ${misc:Depends},
Description: %(shortdesc)s
 CubicWeb is a semantic web application framework.
 .
 %(longdesc)s
 .
 This package will install all the components you need to run an application
 using the %(distname)s cube for Python 2.

Package: python3-%(distname)s
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
Description: %(shortdesc)s
 CubicWeb is a semantic web application framework.
 .
 %(longdesc)s
 .
 This package will install all the components you need to run an application
 using the %(distname)s cube for Python 3.
